html {
  box-sizing: border-box;
  line-height: 1.5;
  }

*, *::before, *::after {
  box-sizing: inherit;
  }

body {
  background-color: #c9b5ab;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
}

nav ol {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  list-style-type: none;
}

a:link {
  color: #8f2440;
  text-decoration: none;
}

figcaption {
  font-family: 'PT Serif', serif;
  font-style: italic;
  text-align: center;
  font-size: 1.25rem;
}

p {
  font-family: 'PT Sans', sans-serif;
  font-style: bold;
  font-size: 1.5rem;
}

p:nth-of-type(1) {
  text-align: center;
}
