html {
  box-sizing: border-box;
  line-height: 1.5:\;
  }

*, *::before, *::after {
  box-sizing: inherit;
  }

body {
  background-color: #c9b5ab;
}

h1 {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.5rem;
  color: #3f1622;
}

nav ol {
  font-family: 'PT Sans', sans-serif;
  font-size: 1.25rem;
  color: #8f2440
}

figcaption {
  font-family: 'PT Serif', serif;
  font-style: italic;
  align-content: center;
}
